<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'LooFinder' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>ce98d145-d2d2-42a6-97c0-250785d18c3d</InstrumentationKey>
</ApplicationInsights>